* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.8s ease-in-out;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff9800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #e68900;
}
